.bolt-layout-box {
  font-family: Phosphor, Dosis;
  background-color: $surface0;
  color: $text;
  padding: 2em;
  border-radius: 0.5em;
}

.bolt-date-box {
  padding: 1.5em 2em 1.6em 1.5em;
  background-image: linear-gradient(100deg, $surface2, $surface1);
  border-radius: 0.5em;
}

.bolt-date-box .label1 {
  font-size: 16;
  color: $text;
}

.bolt-date-box .label2 {
  font-size: 23;
}

.controls-updates {
  padding: 1.6em;
  background-color: $surface1;
  border-radius: 0.5rem;
}

.controls-updates .label1 {
  font-size: 16;
  color: $subtext0;
}

.controls-updates .label2 {
  font-size: 18;
}

.bolt-pctl-box {
  background-color: $surface1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1em;
  border-radius: 0.5em;
}

.bolt-pctl-label {
  font-size: 16;
  color: $subtext0;
}

.pctl-player-prev,
.pctl-player-next {
  color: $overlay1;
  font-size: 15;
  margin: 0px 0 1px 0;
  padding: 2px 2px 0 3px;
  border-radius: 45%;

  &:hover {
    background-color: $surface0;
  }
}

.bolt-pctl-title {
  font-size: 20;
  font-weight: bold;
  color: $text;
}

.bolt-pctl-artist {
  font-size: 16;
  color: $text;
}

.bolt-pctl-volume-icon {
  font-size: 25;
}

.bolt-pctl-volume-label {
  font-size: 18;
  padding-top: 0.25em;
}

.bolt-pctl-status {
  font-size: 30;
}

.bolt-pctl-status:hover {
  color: $subtext1;
}

.bolt-uptime-box {
  background-color: $surface1;
  padding: 1.2em;
  border-radius: 0.5em;
}

.bolt-uptime-label {
  color: $subtext1;
  font-size: 16;
}

.bolt-uptime-value {
  font-size: 18;
  color: $text;
}

.bolt-uptime-hl {
  background-color: $sky;
  font-size: 1;
  padding: 2em;
  margin-top: 4em;
  margin-bottom: 4em;
  border-radius: 0.1rem;
}

.bolt-wifi-box {
  background-color: $surface1;
  padding: 1.2em;
  border-radius: 0.5em;
}

.bolt-wifi-label {
  font-size: 16;
  color: $subtext1;
}

.bolt-wifi-ssid {
  font-size: 18;
  color: $text;
}

.bolt-wifi-icon {
  font-size: 25;
  background-color: $surface1;
  padding: 0.8em;
  border-radius: 0.2em;
  color: $sky;
}

// vim:ft=scss
