.idle {
  background-image: radial-gradient(
    circle,
    rgba($mantle, 0.01) 0,
    rgba($mantle, 0.15) 90%,
    rgba($mantle, 0.25) 100%
  );
  font-family: "Quicksand Light";
}

.idl-clock {
  font-size: 28;
  font-weight: 400;

  margin-right: 18rem;
  margin-bottom: 8rem;

  .idl-time {
    font-size: 80;
    font-weight: 900;
  }
}

.idl-info {
  font-size: 18;
  margin-bottom: 0.6rem;
}
