.db {
  background-color: rgba($base, 0.9);
  border-radius: 0.6rem;
  // border: 2px solid rgba($accent, 0.2);
  margin: 4px;
  padding: 1em;

  font-family: "Dosis", "JetBrainsMono Nerd Font";
  font-weight: 500;

  box-shadow: 0 0 2px 2px rgba($accent, 0.1);

  .widget {
    color: $text;
    background-color: $surface0;
    border-radius: 0.4rem;
    box-shadow: 0 0 4px 4px rgba($mantle, 0.7);

    padding: 0.5rem;
  }
}

.db-top {
  font-size: 18;

  .pfp {
    border-radius: 45%;
    background-size: cover;
    background-position: center;
  }

  .icon {
    color: $yellow;
  }
}

.db-session {
  .pfp {
    margin: 0.8rem;
    margin-right: 1.3rem;
    border-radius: 40%;
    background-size: cover;
    background-position: center;
  }

  .session-user {
    font-size: 22;
    font-weight: 600;
    color: $accent;
  }

  .session-name {
    font-size: 20;
    color: $accent;
  }

  .session-uptime {
    font-size: 18;
  }
}

.db-system {
  &-icon {
    font-size: 18;
    color: $accent;
  }

  &-text {
    font-size: 20;
  }
}

.widget.db-player {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0.6rem 0.7rem 0.4rem 0.7rem;

  // .player-upper
  .player-state {
    font-size: 16;
    color: $subtext0;
  }

  .player-next-player {
    font-size: 14;
    margin-right: 0.4em;
    border-radius: 0.5rem;
    color: $subtext0;
  }

  .player-next-player:not(.disabled) {
    &:hover {
      color: $text;
      background: rgba($surface0, 0.8);
    }
  }

  .player-next-player.disabled {
    color: $base;
  }

  .player-title {
    font-size: 20;
    font-weight: bold;
    color: $text;
  }

  .player-artist {
    font-size: 16;
    color: $text;
  }

  // .player-lower

  .player-playpause {
    font-size: 30;
    margin-right: 0.4em;

    &:hover {
      color: $subtext0;
    }
  }

  .player-prev,
  .player-next,
  .player-stop {
    font-size: 24;
    margin-right: 0.3em;
    opacity: 0.85;

    &:hover {
      color: $subtext0;
    }
  }
}

.db-quickset .quickset-button {
  margin: 0.1rem 0.2rem;

  button {
    padding: 0.35rem 0.2rem;
    background-color: rgba($surface1, 0.8);
    font-size: 18;

    transition: 0.5s ease-out;
    transition-property: border-radius, background-color, color;

    &.quickset-toggle {
      border-radius: 0.5em 0 0 0.5em;
      border-right: rgba($overlay0, 0.6) 1px solid;
    }
    &.quickset-more {
      border-radius: 0 0.5em 0.5em 0;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    &:hover {
      transition-duration: 0.1s;
      background-color: mix($surface1, $text, 90%);
    }
  }

  &.active button {
    background-color: rgba($accent, 0.9);
    color: rgba($base, 0.9);

    &.quickset-toggle {
      border-radius: 0.8em 0 0 0.8em;
      border-right: rgba($text, 0.6) 1px solid;
    }
    &.quickset-more {
      border-radius: 0 0.8em 0.8em 0;
    }

    &:hover {
      background-color: mix($accent, $text, 90%);
    }
  }

  // Icon font finetuning
  &-net .quickset-button-icon,
  &-dnd .quickset-button-icon,
  &-caff .quickset-button-icon {
    padding-left: 0.35em;
    padding-right: 0.55em;
  }
  &-bt .quickset-button-icon {
    padding-left: 0.45em;
    padding-right: 0.45em;
  }
}

.db-quickset .quickset-divider {
  margin: 0.4em 0.2em;
  padding: 0.1em 0;
  border-radius: 0.4rem;
  background-color: rgba($overlay0, 0.6);
}

.db-quickset .quickset-scale {
  font-size: 20;
  margin: 0.1em 0;
  padding: 0 0.5rem;

  $active-color: $accent;
  $inactive-opacity: 20%;

  button {
    border-radius: 0.8rem 0 0 0.8rem;
    background-color: mix($active-color, $surface1, $inactive-opacity);
    color: rgba($base, 0.8);

    transition: background-color 0.2s ease-out, color 0.1s ease-out;

    &:hover {
      color: rgba($overlay0, 0.8);
    }
  }

  scale trough {
    background-color: $surface1;
    border-radius: 0 0.8rem 0.8rem 0;
    min-height: 1.5em;

    highlight {
      background-color: rgba($active-color, $inactive-opacity);
      border-radius: inherit;

      transition: background-color 0.2s ease-out;
    }
  }

  &.active {
    button {
      background-color: $active-color;
    }
    scale trough highlight {
      background-color: $active-color;
    }
  }

  // Font finetuning
  &-vol button,
  &-mic button,
  &-bright button {
    padding-left: 0.4em;
    padding-right: 0.5em;
  }
  &-mic.active button {
    padding-left: 0.5em;
    padding-right: 0.4em;
  }
}

.db-todo {
  font-size: 18;

  &-top {
    padding: 0 0.3rem;
    font-size: 20;
    font-weight: 600;
  }

  &-icon {
    font-size: 20;
  }

  &-add,
  &-clean {
    border-radius: 0.5rem;
    padding-left: 0.3em;
    padding-right: 0.5em;
  }

  &-task {
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 0.2rem 0.5rem;
  }

  &-remove {
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 0 0.4rem;
    color: rgba($text, 0.1);

    &:hover {
      color: $text;
    }
  }

  button {
    transition: 100ms ease-out;
    transition-property: background-color, color;
  }

  button:hover,
  &-task:hover + &-remove {
    background-color: rgba($accent, 0.15);
  }
}

.widget.db-sysinfo .sysinfo-chart {
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: rgba($surface1, 0.8);

  circular-progress {
    color: $accent;
  }

  // Show NAME on hover
  .sysinfo-icon,
  .sysinfo-name {
    transition: opacity ease-out 0.2s;
  }

  .sysinfo-icon {
    opacity: 1;
  }
  .sysinfo-name {
    opacity: 0;
  }

  &:hover {
    .sysinfo-icon {
      opacity: 0;
    }
    .sysinfo-name {
      opacity: 1;
    }
  }

  // Font finetuning
  &-cpu {
    .sysinfo-icon {
      font-size: 18;
      margin-right: 0.3em;
    }
    .sysinfo-name {
      font-size: 25;
    }
  }
  &-ram {
    .sysinfo-icon {
      font-size: 23;
      margin-right: 0.1em;
    }
    .sysinfo-name {
      font-size: 24;
    }
  }
  &-temp {
    .sysinfo-icon {
      font-size: 18;
      margin-right: 0.36em;
    }
    .sysinfo-name {
      font-size: 21;
    }
  }
  &-disk {
    .sysinfo-icon {
      font-size: 20;
    }
    .sysinfo-name {
      font-size: 23;
    }
  }
}

.db-systray {
  // context menu's customization

  menu {
    background-color: $surface1;
    padding: 0.2em;
    border-radius: 0.4rem;
  }

  menu menuitem {
    transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
    border-bottom: 1px solid $overlay0;
    border-radius: 0.3rem;
    padding: 2px 4px;

    &:hover {
      background-color: rgba($text, 0.1);
    }

    &:active {
      background-color: rgba($text, 0.18);
    }
  }

  menu separator {
    margin: 4px 0;
    border-top: solid 1px rgba($overlay0, 0.7);
  }
}
