.db {
  background-color: rgba($base, 0.9);
  border-radius: 0.6rem;
  // border: 2px solid rgba($lavender, 0.2);
  margin: 4px;
  padding: 1em;

  font-family: "Dosis", "JetBrainsMono Nerd Font";
  font-weight: 500;

  box-shadow: 0 0 2px 2px rgba($lavender, 0.1);

  .widget {
    color: $text;
    background-color: $surface0;
    border-radius: 0.4rem;
    box-shadow: 0 0 4px 4px rgba($mantle, 0.7);

    padding: 0.5rem;

    .label {
      font-size: 14;
      color: $overlay2;
    }
  }
}

.db-top {
  font-size: 18;

  .pfp {
    border-radius: 45%;
    background-size: cover;
    background-position: center;
  }

  .btn {
    transition: background-color 100ms ease-out;
    font-size: 16;
    background-color: rgba($surface0, 0.5);
    border-radius: 0.4em;
    padding: 0 0.6em 0 0.3em;
  }

  .btn:hover {
    background-color: rgba($surface1, 0.6);
  }

  .btn-launcher {
    color: $blue;
  }

  .btn-game {
    color: $mauve;
  }

  .btn-screenshot {
    color: $teal;
  }
}

.db-session {
  .pfp {
    margin-right: 0.5rem;
    border-radius: 30%;
    background-size: cover;
    background-position: center;
  }

  .session-name {
    font-size: 22;
    color: $lavender;
  }

  .session-uptime {
    font-size: 18;
  }
}

.widget.db-player {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0.6rem 0.7rem 0.4rem 0.7rem;

  .player-state {
    font-size: 16;
    color: $subtext0;
  }

  .player-title {
    font-size: 20;
    font-weight: bold;
    color: $text;
  }

  .player-artist {
    font-size: 16;
    color: $text;
  }

  .player-volume-icon {
    margin-left: 0.1em;
    font-size: 23;
  }

  .player-volume-label {
    font-size: 18;
    padding-top: 0.2em;
  }

  .player-playpause {
    font-size: 30;
    margin-right: 0.4em;
  }

  .bolt-pctl-status:hover {
    color: $subtext1;
  }
}

.db-quickset .quickset-button {
  margin: 0.1rem 0.2rem;

  button {
    padding: 0.35rem 0.2rem;
    background-color: rgba($surface1, 0.8);
    font-size: 18;

    transition: 0.5s ease-out;
    transition-property: border-radius, background-color, color;

    &.quickset-toggle {
      border-radius: 0.5em 0 0 0.5em;
      border-right: rgba($overlay0, 0.6) 1px solid;
    }
    &.quickset-more {
      border-radius: 0 0.5em 0.5em 0;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  &.active button {
    background-color: rgba($lavender, 0.9);
    color: rgba($base, 0.9);

    &.quickset-toggle {
      border-radius: 0.8em 0 0 0.8em;
      border-right: rgba($text, 0.6) 1px solid;
    }
    &.quickset-more {
      border-radius: 0 0.8em 0.8em 0;
    }
  }

  // Icon font finetuning
  &-net .quickset-button-icon,
  &-dnd .quickset-button-icon {
    padding-left: 0.35em;
    padding-right: 0.55em;
  }
  &-bt .quickset-button-icon {
    padding-left: 0.45em;
    padding-right: 0.45em;
  }
}

.db-datetime {
  .datetime-time {
    font-size: 45;
  }

  .divider {
    padding: 0 1px;
    background-image: linear-gradient($red, $mauve, $blue, $sky);
    border-radius: 0.1rem;
    margin: 0.2em;
  }

  .datetime-date {
    font-size: 18;
  }
}

.widget.db-sysinfo .sysinfo-chart {
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: rgba($surface1, 0.8);

  circular-progress {
    color: $lavender;
  }

  // Show NAME on hover
  .sysinfo-icon,
  .sysinfo-name {
    transition: opacity ease-out 0.2s;
  }

  .sysinfo-icon {
    opacity: 1;
  }
  .sysinfo-name {
    opacity: 0;
  }

  &:hover {
    .sysinfo-icon {
      opacity: 0;
    }
    .sysinfo-name {
      opacity: 1;
    }
  }

  // Font finetuning
  &-cpu {
    .sysinfo-icon {
      font-size: 18;
      margin-right: 0.3em;
    }
    .sysinfo-name {
      font-size: 25;
    }
  }
  &-ram {
    .sysinfo-icon {
      font-size: 23;
      margin-right: 0.1em;
    }
    .sysinfo-name {
      font-size: 24;
    }
  }
  &-temp {
    .sysinfo-icon {
      font-size: 18;
      margin-right: 0.36em;
    }
    .sysinfo-name {
      font-size: 21;
    }
  }
  &-disk {
    .sysinfo-icon {
      font-size: 20;
    }
    .sysinfo-name {
      font-size: 23;
    }
  }
}

.db-systray {
  // context menu's customization

  menu {
    background-color: $surface1;
    padding: 0.2em;
    border-radius: 0.4rem;
  }

  menu menuitem {
    transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
    border-bottom: 1px solid $overlay0;
    border-radius: 0.3rem;
    padding: 2px 4px;

    &:hover {
      background-color: rgba($text, 0.1);
    }

    &:active {
      background-color: rgba($text, 0.18);
    }
  }

  menu menuitem arrow {
    min-height: 16px;
    min-width: 16px;
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
    margin-left: 4px;
  }

  menu separator {
    margin: 4px 0;
    border-top: solid 1px rgba($overlay0, 0.7);
  }
}
