.osd-widget {
  background-color: rgba($base, 0.4);
  padding: 0.4rem 0.5rem;
  border-radius: 3rem;

  font-size: 20;
  font-family: "Dosis", "JetBrainsMono Nerd Font";
}

.osd-volume,
.osd-mic {
  &-icon {
    font-size: 25;
    padding: 0 0.7rem 0 0.5rem;
    border-radius: 3rem;

    &:hover {
      background-color: rgba($surface1, 0.8);
    }
  }

  &-scale trough {
    background-color: rgba($surface1, 0.5);
    border-radius: 3rem;
    min-height: 10px;
    min-width: 120px;
    margin: 0.3rem;
    margin-right: 0.4rem;

    highlight {
      background-image: $accent-gradient;
      border-radius: 3rem;
      box-shadow: 0 0 3px 0 rgba($base, 0.6);
    }
  }

  &.mute &-scale trough highlight {
    background-image: $disabled-gradient;
  }
}

.osd-capslock,
.osd-numlock,
.osd-caffeine {
  &-icon {
    font-size: 25;
    padding: 0 0.7rem 0 0.5rem;
    border-radius: 3rem;

    &:hover {
      background-color: rgba($surface1, 0.8);
    }
  }

  &-state {
    margin-right: 0.4rem;
  }
}

.osd-player {
  margin-left: 10rem;
  margin-bottom: 6rem;

  &-art {
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
  }

  &-title {
    font-size: 20;
    font-weight: 600;
  }

  &-artist {
    font-size: 18;
    color: $text;
  }

  &-progress trough {
    background-image: $disabled-gradient;
    border-radius: 0.1rem;
    min-height: 0.2rem;
    margin: 0.4rem;

    progress {
      background-image: $accent-gradient;
      border-radius: 0.15rem;
    }
  }
}
