/* Created   by https://github.com/rxyhn 
   Designed  by https://github.com/rxyhn
   Maintaned by https://github.com/rxyhn
*/

// Calendar
.cal-win {
  background-color: rgba($base, 0.9);
  font-family: "Comic Mono";
  font-size: 18;
  color: $text;
  border-radius: 0.8rem;
  padding: 1.2rem 1rem 0.2rem;
}

.cal-datetime {
  .datetime-time {
    font-size: 45;
  }

  .divider {
    padding: 0 1px;
    background-image: linear-gradient($red, $mauve, $blue, $sky);
    border-radius: 0.1rem;
    margin: 0.2em;
  }

  .datetime-date {
    font-size: 18;
  }
}

.cal-box {
  background-color: transparent;

  .cal {
    &.highlight {
      padding: 10rem;
    }

    padding: 0.8rem 0.25rem 0rem;
    margin-left: 10px;
  }

  calendar:selected {
    color: $blue;
  }

  calendar.header {
    color: $blue;
  }

  calendar.button {
    color: $mauve;
    border-radius: 0.2em;

    &:hover {
      background-color: $surface1;
    }
  }

  calendar.highlight {
    color: $mauve;
  }

  calendar:indeterminate {
    color: $overlay1;
  }
}
